#about {
	margin: 50px auto;
	display: block;
	width: 1349px;
	height: 150px;
	padding: 20px;
	border: 1px solid #70DBFF;
	border-radius: 5px;
	width: 900px;
	
}

#about #head {
	text-align: center;
	text-transform: uppercase; 
	font-family: arial;
	font-weight: bold;
	font-size: 30px;
	color: #0395bd;
}
