#advantages {
	margin: 0 auto;
	display: block;
	width: 1349px;
	height: 410px;
	background: #E0F5FF;
}

#advantages #head {
	text-align: center;
	padding-top: 20px;
	text-transform: uppercase; 
	font-family: arial;
	font-weight: bold;
	font-size: 30px;
	color: #0395bd;
}

.adv{
	width: 300px;	
	float: left;
	margin: 35px 0 0 120px;
}