#catalog {
	margin: 35px auto;
	display: block;
	width: 1349px;
	clear: both;
}

#catalog #head {
	text-align: center;
	text-transform: uppercase; 
	font-family: arial;
	font-weight: bold;
	font-size: 30px;
	color: #0395bd;
}

#catalog #product {
	display: block;
	float: left;
	height: 240px;
	width: 250px;
	margin: 30px 0 30px 70px;
	border: 1px solid #aaa;
	border-radius: 5px;
}
#catalog #product img {margin-left: 25%; margin-bottom: 20px;}
#catalog #product:hover {
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#nav {
	height: 30px;
	width: 200px;
	clear: both;
	margin: 10px auto;
}
#nav a {
	text-decoration: none;
	background: #eee;
	color: #6CBCF1;
	padding: 10px 15px;
}
#nav a:hover {
	background: #BCBCBC;
}