
/*Шапка*/
#header {
	width: 1349px;
	display: block;
	margin: 0 auto;
}

#rightMenu {
	display: none;
	height: 100vh;
	width: 250px;
	background: #eee;
	float: right;
	position: fixed;
	z-index: 11;
}
#rightMenu ul {
	padding:0;
	margin: 0;
}
#rightMenu ul li {
	list-style: none;
	background: #3399FF;
	margin: 5px 0 0 0;
	padding: 10px 0 10px 0;
	text-align: center;
}
#rightMenu ul li:hover {
	cursor: pointer;
	background: #0066CC;
}
#rightMenu ul a  {
	text-decoration: none;
	color: #fff;
}

#contacts {
	display: block;
	width: 1349px;
	height: 60px;
	margin-bottom: 5px;
}
#contacts form{
	display: inline-block;
	margin: 0 0 0 50px;
	padding: 3px;
	border: 2px solid #0395bd;
	background: #eee;
}
#contacts #div1 {
	display: inline-block;
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	color: #0395bd;
	margin: 0.4% 0 0 2%;
}

#contacts #div2 {
	display: inline-block;
	float: right;
	margin: 0.4% 3% 0 0;
}
#contacts #div2 p {
	color: #B9B9B9;
}

#menu {
	position: fixed;
	top: 60px;
	height: 57px;
	width: 1349px;
	display: block;
	background: #0395bd;
	list-style: none;
	z-index: 10;
}

#menu ul li {
	margin: 0 0 0 18px;
	padding-right: 17px;
	display: inline-block;
	vertical-align: middle;
	background: url(../imgs/arr.png) no-repeat;
	background-size: 15px;
	background-position: right;
	color: #fff;
	text-decoration: none;
}

#menu ul li a {
	color: #fff;
	text-decoration: none;
}
#menu ul li:nth-child(1), #menu ul li:nth-child(2), #menu ul li:nth-child(7), #menu ul li:last-child {background:none;} 
#menu ul li:nth-child(3), #menu ul li:nth-child(4), #menu ul li:nth-child(5), #menu ul li:nth-child(6) {padding-top:20px; padding-bottom:18px;} 
#menu ul li #img1 {
	margin: 3px -20px 0 20px;
}
#menu ul li #img2 {
	margin: 3px 70px 0 0;
}

#menu ul #div3 {
	float: right;
	margin: 7px 10px 0 0;
}
#menu ul #div3:hover {
	cursor: pointer;
}
#menu #mB {z-index: 11;}
#drop_menu1,#drop_menu2, #drop_menu3, #drop_menu4 {
	width: 110px;
	position: absolute;
	top: 57px;
	padding: 5px;
	background: #33CCFF;
	display: none;
	z-index: 10;
}
#menu ul li {cursor: pointer;}

span {
	color: #E6E645;
}

#up {
	display: none;
	width: 50px;
	float: left;
	opacity: 0.6;
	
	position: fixed;
	top:580px;
	left: 5px;
	z-index: 20;
}
#up:hover {margin: 0 auto; cursor: pointer; opacity: 1;}


#footer {
	margin: 0 auto;
	width: 1349px;
	height: 200px;
	display: block;
	background: #3399FF;
	clear:both;
}
#footer #full_lst {
	width: 900px;
	height: 150px;
	margin-left: 270px;
}
#footer .lst {
	display: block;
	float: left;
	margin: 50px 0 0 15px;
}
#footer .lst ul li {
	list-style: none;
	padding-top: 5px;
}
#footer .lst ul li a {
	text-decoration: none;
	color: #fff;
}
#footer .lst ul li a:hover {
	text-decoration: underline;
}
