#slider {
	width: 1349px;
	height: 530px;
	display: block;
	margin: 0 auto;
	margin-top: 57px;
}

.back {
	width:70px;
	height: 200px;
	margin-top: 150px;
	/*background: url(../imgs/arrL.jpg) no-repeat;*/
	background-position: center center;
	float: left;
	/*z-index: 99;*/
	position: relative;	
}

.next {
	width:70px;
	height: 200px;
	margin-top: 150px;
	/*background: url(../imgs/arrR.jpg) no-repeat;*/
	background-position: center center;
	float: right;
	/*z-index: 99;*/
	position: relative;	
}

.images {
	position: absolute;	
}